<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link media="screen"
            type="text/css"
            rel="stylesheet"
            href="stylesheets/core.css"/>
    <title>Hacksgiving by Lookout</title>
  </head>

  <body>
    <div id="header">
        <div id="buttons">
            <a href="https://twitter.com/lookouteng" class="twitter-follow-button" data-dnt="true" data-size="large" data-show-count="true">Follow @lookouteng</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>


        <img src="images/tiny-turkey.png" alt="Lookout Hacksgiving!"/>
        <h1>Hacksgiving</h1>
    </div>

<div class="menu">
    <ul>
        <li><a href="#">Photos</a></li>
        <li><a href="https://twitter.com/search/realtime?q=%23hacksgiving">#hacksgiving</a></li>
        <li><a href="https://www.mylookout.com/about/careers">Join Us!</a></li>
    </ul>
    <br clear="all"/>
</div>

    <div id="content">
        {{content}}
    </div>

    <div id="footer">
        <center>

            <img src="images/shield_gray.png"/>
            <br/>
            <strong>
                Powered by Lookout
            </strong>
        </center>
    </div>
  </body>
</html>
